In [ ]:
import pandas as pd
import numpy as np


df = pd.read_csv('Salaries.csv')


print("number of rows : ", df.shape[0])

print("number of columns : ", df.shape[1])

In [ ]:
salary=df['TotalPay']
# print(salary)
print("Salary Mean = ",salary.mean())
print("Salary Median = ",salary.median())
print("Minimum value in salary column = ",salary.min())
print("Maximum value in salary column = ",salary.max())
print("Salary Standard Deviation = ",salary.std())
print("Range Of Salary from ",salary.min(),"to",salary.max())
print("Range Of Salary= ",salary[0:])

In [ ]:
# There are many ways to deal with missing data:
# 1) Use the dropna() function, which deletes the row that contains any empty cells and returns the result in a new datasetÿ≤
new_df=df.dropna() 

# 2) Use the fillna() function. Here, I put an alternative value in the empty field instead of deleting it

df.fillna(True)

In [ ]:
import matplotlib.pyplot as plt
 
# This will plot a simple bar chart
plt.hist(df['TotalPay'])
 
# Title to the plot
plt.title("Distributions of salary")
 

plt.show()

In [ ]:

job=df['JobTitle']



count_dict = {}
job_title=[]
job_number=[]


for element in job:
    if element in count_dict:
        count_dict[element] += 1
    else:
        count_dict[element] = 1

job_title=count_dict.keys()    
job_number=count_dict.values()  



import matplotlib.pyplot as plt
import numpy as np

y = np.array(list(job_number))
mylabels =list(job_title)

plt.pie(y, labels = mylabels)
plt.show()

In [ ]:


grouped_data = df.groupby('JobTitle')


mean_salary = grouped_data['TotalPay'].mean()


print(mean_salary)

In [ ]:
import seaborn as sns



correlation = df['TotalPay'].corr(df['BasePay'])


plt.figure(figsize=(8, 6))
sns.scatterplot(x='BasePay', y='TotalPay', df=df, color='blue')

plt.xlabel('BasePay')
plt.ylabel('TotalPay')
plt.grid(True)
plt.show()

# Good Luck!